<html>
<body>
<form action="{{url_for('predict_datapoint')}}" method="POST">
    <div class="form-group">
        <label for="CIC0">CIC0:</label>
        <input type="text" id="CIC0" name="CIC0" placeholder="Enter CIC0 value (float)">
    </div>

    <div class="form-group">
        <label for="SM1_Dz(Z)">SM1_Dz(Z):</label>
        <input type="text" id="SM1_Dz(Z)" name="SM1_Dz(Z)" placeholder="Enter SM1_Dz(Z) value (float)">
    </div>

    <div class="form-group">  
        <label for="GATS1i">GATS1i:</label>
        <input type="text" id="GATS1i" name="GATS1i" placeholder="Enter GATS1i value (float)">
    </div>
    
    
<div class="form-group">
  <label for="NdsCH">NdsCH:</label>
  <select id="NdsCH" name="NdsCH">
    <option value="Fair">Fair</option>
    <option value="Good">Good</option>
    <option value="Very Good">Very Good</option>
    <option value="Premium">Premium</option>
    <option value="Ideal">Ideal</option>
  </select>
</div>
  
<div class="form-group">
  <label for="NdssC">NdssC:</label>
  <select id="NdssC" name="NdssC">
    <option value="D">D</option>
    <option value="E">E</option>
    <option value="F">F</option>
    <option value="G">G</option>
    <option value="H">H</option>
    <option value="I">I</option>
    <option value="J">J</option>
  </select>
</div>

<div class="form-group">
  <label for="MLOGP">MLOGP:</label>
  <select id="MLOGP" name="MLOGP">
    <option value="I1">I1</option>
    <option value="SI2">SI2</option>
    <option value="SI1">SI1</option>
    <option value="VS2">VS2</option>
    <option value="VS1">VS1</option>
    <option value="VVS2">VVS2</option>
    <option value="VVS1">VVS1</option>
    <option value="IF">IF</option>
  </select>
</div>

<div style="clear:both;"></div>
  <input type="submit" value="Submit">
</form>
</body>
</html>