<html>
  <h1>ENTER YOUR VALUES BELOW</h1>
<body>
<form action="{{url_for('predict_datapoint')}}" method="POST">
    <div class="form-group">
        <label for="CIC0">CIC0:</label>
        <input type="text" id="CIC0" name="CIC0" placeholder="Enter CIC0 value (float)">
    </div>

    <div class="form-group">
        <label for="SM1_Dz(Z)">SM1_Dz(Z):</label>
        <input type="text" id="SM1_Dz(Z)" name="SM1_Dz(Z)" placeholder="Enter SM1_Dz(Z) value (float)">
    </div>

    <div class="form-group">  
        <label for="GATS1i">GATS1i:</label>
        <input type="text" id="GATS1i" name="GATS1i" placeholder="Enter GATS1i value (float)">
    </div>
    
    
<div class="form-group">
  <label for="NdsCH">NdsCH:</label>
  <input type="text" id="NdsCH" name="NdsCH" placeholder="Enter NdsCH value (float)">
  
</div>
  
<div class="form-group">
  <label for="NdssC">NdssC:</label>
  <input type="text" id="NdssC" name="NdssC" placeholder="Enter NdssC value (float)">
</div>

<div class="form-group">
  <label for="MLOGP">MLOGP:</label>
  <input type="text" id="MLOGP" name="MLOGP" placeholder="Enter MLOGP value (float)">
</div>

<div style="clear:both;"></div>
  <input type="submit" value="Submit">
</form>
</body>
</html>